{% load static %}
<html>
  <head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% if title %}
      <title>ResonantGeoData - {{ title }}</title>
    {% else %}
      <title>ResonantGeoData</title>
    {% endif %}

  </head>
  <body class="content">
    <header class="main-header">
      <div class="container">
        {% comment %}
        <div class="logo">
          <h1><a href="{% url 'index' %}"><img src="{% static 'img/isic_logo.svg' %}" alt="ISIC Challenge"></a></h1>
        </div>
        {% endcomment %}
        <div class="navigation">
          <ul class="navbar">
            {% if user.is_authenticated %}
              <strong>{{ request.user.email }}</strong>
              {% if user.is_superuser %}
              <li class="admin">
                  <a href="{% url 'admin:index' %}" class="button is-small">Admin</a>
              </li>
              {% endif %}
              <!-- TODO: uncomment this eventually? -->
              {% comment %}
              {% if user.is_staff %}
              <li class="admin">
                  <a href="{% url 'staff-dashboard' %}" class="button is-small">Dashboard</a>
              </li>
              {% endif %}
              {% endcomment %}
              <li class="logout">
                  <a href="{% url 'account_logout' %}" class="button btn-blue is-small">Logout</a>
              </li>
            {% else %}
              <li id="login-button" class="login"><a href="{% url 'account_login' %}" class="button btn-blue">Login</a></li>
              <li class="signup"><a href="{% url 'account_signup' %}" class="button">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    {% if not request.user.is_authenticated %}
        <div id="temporary-transition-banner" class="notification">
        <div class="container">
            <div class="notice-content">
            {% comment %}
            <h1 class="banner-title">Welcome to the new submission platform for the ISIC Challenge!</h1>
            {% endcomment %}
            </div>
        </div>
        </div>
    {% endif %}


    {% comment %}
    {% load invites %}

    {% show_pending_invites request %}
    {% endcomment %}
    <div class="main-content">
      {% if messages %}
        <div class="container notification-wrapper">
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="notification is-success">
              {{ message }}
            </div>
          {% endif %}

          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="notification is-danger">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}


      <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Useful Links</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                  <a class="mr-2" href="{% url 'index' %}">Core</a>
                </li>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark">
                    <a class="mr-2" href="{% url 'tasks' %}">Tasks</a>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    <a class="mr-2" href="{% url 'algorithms' %}">My Algorithms</a>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    <a class="mr-2" href="{% url 'jobs' %}">My Jobs</a>
                  </li>
                </ul>
                <li class="list-group-item list-group-item-dark">
                  <a class="mr-2" href="{% url 'spatial_entries' %}">GeoData</a>
                </li>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark">
                    <a class="mr-2" href="{% url 'rasters' %}">Raster Entries</a>
                  </li>
                  <li class="list-group-item list-group-item-dark">
                    <a class="mr-2" href="{% url 'fmv_entries' %}">FMV Entries</a>
                  </li>
                </ul>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    </div>

    {% comment %}
    <div class="help-container">
      <a class="help-button button is-medium is-warning" href="https://forum.isic-archive.com" target="_blank">Report an Issue</a>
    </div>
    {% endcomment %}


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
