{% extends "base.html" %}
<!-- This is the home page. It checks if user is authenticated and if not, only shows a brief message about the project. Use nav bar to login. -->


{% block content %}

  <h1>ResonantGeoData</h1>

  {% if user.is_authenticated %}

    <!-- TODO: what to show on home page?? -->
    <p>
      Use the sidebar to get started!
    </p>

  {% else %}
    <!-- TODO: we may just want to have the external page be entirely seperate -->
    <p>
      2D/3D/4D Geospatial Data API and Machine Learning System for Evaluation
    </p>
    <p>
      This is the project home page that is visible to unauthenticated users
    </p>

  {% endif %}

{% endblock %}
