{% extends "geodata/_base/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">Created: {{ object.created }}</small>
        <p/>
        <small class="text-muted">Modified: {{ object.modified }}</small>
      </div>

      <h2 class="article-title">
        <span>{{ object.name }} ({{object.pk}})</span>
      </h2>
      <hr/>

      {% block detail %}{% endblock %}

    </div>
  </article>
{% endblock content %}
