{% extends "geodata/_base/base.html" %}
{% block title %}
  <input class="button is-secondary" type="button" value="&#x2190; Back to Search" onclick="history.back()">
  {{ object.name | truncatechars:36 }} ({{object.pk}})
{% endblock title %}

{% block extra_title_content %}
  <div class="column is-2">
    <span class="text-has-dark-bg is-block">Created:</span>
    {{ object.created }}
  </div>
  <div class="column is-2">
    <span class="text-has-dark-bg is-block">Modified:</span>
    {{ object.modified }}
  </div>
  <div class="column is-2">
    <span class="text-has-dark-bg is-block">Acquired:</span>
    {{ object.acquisition_date }}
  </div>
  <div class="column is-2">
    <a id="copyjson" class="button has-icon is-flex is-justify-content-space-between is-secondary is-fullwidth">
      <span>Copy GeoJSON</span>
      <span class="icon is-small">
        <i class="material-icons">refresh</i>
      </span>
    </a>

    <script>
      document.getElementById("copyjson").onclick = function () {
        // We have to create a visible element in the document in order
        // to copy its content to the clipboard, at least in Chrome.
        var el = document.getElementById("json");
        var tempInput = document.createElement("input");
        tempInput.value = el.value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
      }
    </script>
  </div>
{% endblock extra_title_content %}

{% block content %}

  <div class="columns m-0">
    <div class="column is-sidebar is-one-quarter p-0">
      <div class="column is-sidebar-content">
        <input id="json" class="is-hidden" value="{{ object.footprint.json }}" readonly />

        <div style="overflow-x:auto;">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th><span class="text">Field</span></th>
                <th><span class="text">Value</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Acquisition Date</td>
                <td>{{ object.acquisition_date }}</td>
              </tr>
              <tr>
                <td>Area</td>
                <td>{{ object.footprint.area | floatformat:-2 }}</td>
              </tr>
              <tr>
                <td>Instrumentation</td>
                <td>{{ object.instrumentation }}</td>
              </tr>
              {% block meta_table_body %}{% endblock %}
            </tbody>
          </table>
        </div>

        {% block extra_meta %}{% endblock %}

      </div>
    </div>

    <div class="column p-0">
      {% block detail %}{% endblock %}
    </div>
  </div>

{% endblock content %}
