{% extends "geodata/_base/base.html" %}
{% block content %}

  <div class="columns m-0">
    <div class="column is-sidebar is-one-quarter p-0">
      <h2 class="article-title">
        <span>{{ object.name }} ({{object.pk}})</span>
      </h2>

      <div class="article-metadata">
        <small class="text-muted">Created: {{ object.created }}</small>
        <p/>
        <small class="text-muted">Modified: {{ object.modified }}</small>
      </div>

      <textarea readonly>
        {{ object.footprint.json }}
      </textarea>

      <hr/>

      <div style="overflow-x:auto;">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th><span class="text">Field</span></th>
              <th><span class="text">Value</span></th>
            </tr>
          </thead>
          <tbody>
            {% block meta_table_body %}{% endblock %}
          </tbody>
        </table>
      </div>

      {% block extra_meta %}{% endblock %}

    </div>

    <div class="column p-0">
      {% block detail %}{% endblock %}
    </div>
  </div>

{% endblock content %}
