{% extends "geodata/_base/base.html" %}

{% block extra_title_content %}
  <div class="column is-1">
    <span class="text-has-dark-bg is-block">Spatial Entries:</span>
    <p id="search-count"></p>
  </div>
  <script>
    let extents_meta = JSON.parse('{{ extents_meta|escapejs }}');
    document.getElementById('search-count').innerHTML = extents_meta['count'];
  </script>

{% endblock extra_title_content %}

{% block content %}

  <div class="columns m-0">
    <div class="column is-sidebar is-one-quarter p-0">

      <div class="tab tabs is-boxed" id="tabs">
        <ul class="pt-2 px-2">
          <li class="tablinks is-active" id="searchTabLink" onclick="openTab(event, 'searchTab')"><a href="#searchTab">Search</a></li>
          <li class="tablinks" id="resultsTabLink" onclick="openTab(event, 'resultsTab')"><a href="#resultsTab">Results</a></li>
        </ul>
      </div>

      <div id="searchTab" class="tabcontent" style="display: block;">
        {% include 'geodata/_includes/search_form.html' %}
      </div>

      <div id="resultsTab" class="tabcontent" style="display: none;">
        {% block list_view %}{% endblock %}
      </div>
    </div>

    <div class="column p-0">
      {% include 'geodata/_includes/search_map.html' %}
    </div>
  </div>

  <script>
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      // evt.currentTarget.className += " is-active";
      document.getElementById(tabName + "Link").className += " is-active";
    }

    window.onload = function (event) {
        var hash = window.location.hash;
        if (hash == '#resultsTab') {
          openTab(event, 'resultsTab');
        } else if (hash == '#searchTab') {
          openTab(event, 'searchTab');
        }
    };
  </script>

{% endblock content %}
