{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="section container pwreset">
  <div class="section-header">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
  </div>
  <div class="section-content">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="password_reset">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="help is-danger">
                  <i class="material-icons">error</i>
                  {{ form.non_field_errors }}
                </div>
                {% endif %}

                <div class="fields">

                  <div class="field password">
                    <p class="control has-icons-left">
                      <input class="input{% if form.password1.errors %} is-danger{% endif %}" id="id_password1" name="password1" placeholder="Password" required type="password" autocomplete="new-password">
                      <span class="icon is-small is-left">
                        <i class="material-icons">lock</i>
                      </span>
                    </p>
                    {% if form.password1.errors %}
                    <div class="help is-danger">
                      {{ form.password1.errors }}
                    </div>
                    {% endif %}
                  </div>

                  <div class="field confirmpassword">
                    <p class="control has-icons-left">
                      <input class="input{% if form.password2.errors %} is-danger{% endif %}" id="id_password2" name="password2" placeholder="Confirm Password" required type="password" autocomplete="new-password">
                      <span class="icon is-small is-left">
                        <i class="material-icons">lock</i>
                      </span>
                    </p>
                    {% if form.password2.errors %}
                    <div class="help is-danger">
                      {{ form.password2.errors }}
                    </div>
                    {% endif %}
                  </div>

                </div>

                <input class="button is-fullwidth" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
  </div>
</section>
{% endblock %}
