--find-links https://girder.github.io/large_image_wheels
factory-boy
pytest
pytest-django
pytest-factoryboy
pytest-mock
pytest-cov
pytest-memprof
xdoctest >= 0.15.6
-e ./django-rgd
-e ./testing-utils
