{% block empty_viewer %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geojs/0.20.0/geo.min.js"></script>
  <script src="https://d3js.org/d3-color.v2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>

  <div id="map" style="width: 100%; height: calc(100vh - 140px);"></div>

  <style>
  .basemapTool {
    background-color: #DCDCDC;
    padding: 2px;
    border: 2px solid #000;
    text-align: left;
    border-radius: 10px;
  }
  </style>

  <div id="basemapTool" class="basemapTool">
    <label for="basemapDropdown">Choose a basemap:</label>
    <select id="basemapDropdown" onChange='changeBasemap();'>
      <option>osm</option>
      <option>stamen-terrain</option>
      <option>stamen-terrain-background</option>
      <option>nationalmap-satellite</option>
      <option>stamen-toner</option>
      <option>stamen-toner-lite</option>
      <option>wikimedia</option>
      <option>-- none --</option>
    </select>
  </div>

  <script>
    // Initialize the map
    let map = geo.map({
      node: '#map',
      clampBoundsX: true
    })
    basemapLayer = map.createLayer('osm', {
      source: getCookie('basemapChoice', 'osm'),
      gcs: 'EPSG:3857' // web mercator
    });

    // Increase zoom range from default of 16
    map.zoomRange({
      min: 0,
      max: 20,
    })

    // Feature/data layer
    let layer = map.createLayer('feature', {
      features: ['polygon', 'marker']
    });

    // User Interface layer
    var ui = map.createLayer('ui');

    // Create a zoom slider widget
    ui.createWidget('slider', {position: {left: 40, top: 40}});
    var basemapTool = ui.createWidget('dom', {position: {right: 20, top: 20}});
    basemapTool.canvas().appendChild(document.getElementById("basemapTool"))

    var basemapDropdown = document.getElementById("basemapDropdown")
    basemapDropdown.value = basemapLayer.source()
    function changeBasemap() {
      if (basemapDropdown.value == '-- none --') {
        basemapLayer.visible(false)
      } else {
        basemapLayer.visible(true)
        setCookie('basemapChoice', basemapDropdown.value)
        basemapLayer.source(basemapDropdown.value)
      }
    }

    // Annotation layer
    var annotationLayer = map.createLayer('annotation', {clickToEdit: true, showLabels: false});

    // Position the map to show data extents. If none present, the position
    //   should have been set by the search parameters
    function setBounds(extent, setMax=false) {
      if (extent != undefined) {
        map.bounds({
          left: extent.xmin,
          right: extent.xmax,
          top: extent.ymax,
          bottom: extent.ymin
        });
        if (setMax) {
          let xc = (extent.xmax - extent.xmin) * 0.2
          let yc = (extent.ymax - extent.ymin) * 0.2
          map.maxBounds({
            left: extent.xmin - xc,
            right: extent.xmax + xc,
            top: extent.ymax + yc,
            bottom: extent.ymin - yc
          })
        } else {
          map.zoom(map.zoom() - 0.25);
        }
      }
    }

  </script>
{% endblock %}
