{% block navlinks %}

  <style>
    /* Dropdown Button */
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 5px;
      font-size: 16px;
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      padding: 16px 16px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>

  <div class="container">
    {% comment %}
    <div class="logo">
      <h1><a href="{% url 'index' %}"><img src="{% static 'img/isic_logo.svg' %}" alt="ISIC Challenge"></a></h1>
    </div>
    {% endcomment %}
    <div class="navigation">
      <ul class="navbar">
        {% if user.is_authenticated %}

          <div class="dropdown">
            <button class="dropbtn button" onclick="location.href='{% url 'spatial_entries' %}'" type="button">GeoData</button>
            <div class="dropdown-content">
              <a class="mr-2" href="{% url 'rasters' %}">Raster Entries</a>
              <a class="mr-2" href="{% url 'fmv_entries' %}">FMV Entries</a>
            </div>
          </div>

          <strong>{{ request.user.email }}</strong>
          {% if user.is_superuser %}
          <li class="admin">
              <a href="{% url 'admin:index' %}" class="button is-small">Admin</a>
          </li>
          {% endif %}
          <!-- TODO: uncomment this eventually? -->
          {% comment %}
          {% if user.is_staff %}
          <li class="admin">
              <a href="{% url 'staff-dashboard' %}" class="button is-small">Dashboard</a>
          </li>
          {% endif %}
          {% endcomment %}
          <li class="logout">
              <a href="{% url 'account_logout' %}" class="button btn-blue is-small">Logout</a>
          </li>
          <li class="home">
              <a href="{% url 'index' %}" class="button btn-blue is-small">Home</a>
          </li>
        {% else %}
          <li id="login-button" class="login"><a href="{% url 'account_login' %}" class="button btn-blue">Login</a></li>
          <li class="signup"><a href="{% url 'account_signup' %}" class="button">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
