{% block search_form %}

  <style type="text/css">
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    .tabcontent.active {
      display: block;
    }
  </style>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Point')">Point</button>
    <button class="tablinks" onclick="openTab(event, 'Bounding Box')">Bounding Box</button>
  </div>

  <div id="Point" class="tabcontent">
    <form method="GET">
      Longitude (deg): <input type="text" name="longitude" value="{{ request.GET.longitude }}">
      Latitude (deg): <input type="text" name="latitude" value="{{ request.GET.latitude }}">
      <br>
      Proximity (m): <input type="text" name="radius" value="{{ request.GET.radius }}">
      <br>
      <input class="button" type="button" value="Use Map" name="button" onclick="populatePoint()">
      <input class="button" type="submit" value="Filter">
    </form>
  </div>

  <div id="Bounding Box" class="tabcontent">
    <form method="GET">
      Min Longitude (deg): <input type="text" name="minimum_longitude" value="{{ request.GET.minimum_longitude }}">
      <br>
      Max Longitude (deg): <input type="text" name="maximum_longitude" value="{{ request.GET.maximum_longitude }}">
      <br>
      Min Latitude (deg): <input type="text" name="minimum_latitude" value="{{ request.GET.minimum_latitude }}">
      <br>
      Max Latitude (deg): <input type="text" name="maximum_latitude" value="{{ request.GET.maximum_latitude }}">
      <br>
      <input class="button" type="button" value="Use Map" name="button" onclick="populateBounds()">
      <input class="button" type="submit" value="Filter">
    </form>
  </div>

  <script>
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function populateBounds() {
      var bounds = map.bounds()
      console.log(bounds)
      var left = document.getElementsByName("minimum_longitude")[0]
      var right = document.getElementsByName("maximum_longitude")[0]
      var bottom = document.getElementsByName("minimum_latitude")[0]
      var top = document.getElementsByName("maximum_latitude")[0]
      left.value = bounds.left
      right.value = bounds.right
      bottom.value = bounds.bottom
      top.value = bounds.top
    }

    function populatePoint() {
      var center = map.center()
      console.log(center)
      var a = document.getElementsByName("longitude")[0]
      var b = document.getElementsByName("latitude")[0]
      a.value = center.x
      b.value = center.y
    }

  </script>

{% endblock %}
