{% block search_form %}

  <div class="tab tabs is-boxed">
    <ul class="pt-2 px-2">
      <li class="tablinks" onclick="openTab(event, 'Point')"><a>Point</a></li>
      <li class="tablinks" onclick="openTab(event, 'Bounding Box')"><a>Bounding Box</a></li>
      <li class="tablinks" onclick="openTab(event, 'GeoJSON')"><a>GeoJSON</a></li>
    </ul>
  </div>

  <div id="Point" class="tabcontent">
    <form method="GET">
      <div class="columns is-multiline mx-0">
        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Longitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="longitude" value="{{ request.GET.longitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Latitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="latitude" value="{{ request.GET.latitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Proximity (m)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="radius" value="{{ request.GET.radius }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field is-grouped">
          <div class="control">
            <input class="button is-secondary" type="button" value="Use Map" name="button" onclick="populatePoint()">
          </div>
          <div class="control">
            <input class="button is-accent" type="submit" value="Filter">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="Bounding Box" class="tabcontent">
    <form method="GET">
      <div class="columns is-multiline mx-0">
        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Minimum Longitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="minimum_longitude" value="{{ request.GET.minimum_longitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Maximum Longitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="maximum_longitude" value="{{ request.GET.maximum_longitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Minimum Latitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="minimum_latitude" value="{{ request.GET.minimum_latitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Maximum Latitude (deg)</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="maximum_latitude" value="{{ request.GET.maximum_latitude }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field is-grouped">
          <div class="control">
            <input class="button is-secondary" type="button" value="Use Map" name="button" onclick="populatePoint()">
          </div>
          <div class="control">
            <input class="button is-accent" type="submit" value="Filter">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="GeoJSON" class="tabcontent">
    <form method="GET">
      <div class="columns is-multiline mx-0">
        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">GeoJSON geometry</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="text" name="geojson" value="{{ request.GET.geojson }}">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">within</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input type="checkbox" {{ request.GET.within|yesno:"checked,," }} name="within" title="Only retrieve entries that are fully within the boundary of the feature.">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full field is-grouped">
          <div class="control">
            <input class="button is-secondary" type="button" value="Draw on Map" name="button" onclick="drawOnMapButton()">
          </div>
          <div class="control">
            <input class="button is-accent" type="submit" value="Filter">
          </div>
        </div>
      </div>
    </form>
  </div>

  <script>
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " is-active";
    }

    function populateBounds() {
      var bounds = map.bounds()
      console.log(bounds)
      var left = document.getElementsByName("minimum_longitude")[0]
      var right = document.getElementsByName("maximum_longitude")[0]
      var bottom = document.getElementsByName("minimum_latitude")[0]
      var top = document.getElementsByName("maximum_latitude")[0]
      left.value = bounds.left
      right.value = bounds.right
      bottom.value = bounds.bottom
      top.value = bounds.top
    }

    function populatePoint() {
      var center = map.center()
      console.log(center)
      var a = document.getElementsByName("longitude")[0]
      var b = document.getElementsByName("latitude")[0]
      a.value = center.x
      b.value = center.y
    }


    function enableDrawOnMap() {
      // Disable button until completed
      var button = document.getElementsByName("drawOnMapButton")[0]
      button.disabled = true
      // Clear any previous annotations
      annotationLayer.removeAllAnnotations()
      // Start new annotation
      annotationLayer.mode('polygon');
      annotationLayer.geoOn(geo.event.annotation.state, (e) => {
        if (e.annotation.state() === "done") {
          var geojson = JSON.stringify(e.annotation.geojson().geometry)
          var jsonField = document.getElementsByName("geojson")[0]
          jsonField.value = geojson
          // Re-enable button
          button.disabled = false
        }
      });
    }

  </script>

{% endblock %}
