{% block search_form %}

<div class="columns is-multiline mx-0">
  <div class="column is-full mb-2 pb-5">
    <div class="field">
      <div class="field-label is-normal mb-1">
        <label class="label">Map Tool:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-halfwidth">
              <select id="mapTool">
                <option value="stJSON">GeoJSON</option>
                <option value="stPoint">Point</option>
                <option value="stBounding">Bounding Box</option>
              </select>
            </div>
            <div>
              <div id="stJSON" class="selection" style="display: none;">
                <div class="column is-full field is-grouped">
                  <div class="control">
                    <input class="button is-secondary" type="button" value="Draw on Map" name="drawOnMapButton" onclick="enableDrawOnMap()">
                  </div>
                </div>
              </div>
              <div id="stPoint" class="selection" style="display: none;">
                <div class="column is-full field is-grouped">
                  <div class="control">
                    <input class="button is-secondary" type="button" value="Use Map" name="button" onclick="populatePoint()">
                  </div>
                </div>
              </div>
              <div id="stBounding" class="selection" style="display: none;">
                <div class="column is-full field is-grouped">
                  <div class="control">
                    <input class="button is-secondary" type="button" value="Use Map" name="button" onclick="populateBounds()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-full">
    <form method="GET">
      <div class="columns is-multiline mx-0">

        <div class="column is-full field mb-0">
          <div class="field">
            <div class="field-label is-normal">
              <label class="label">Data Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="datatype" id="datatype">
                      <option selected value> -- select an option -- </option>
                      <option value="raster">raster</option>
                      <option value="fmv">fmv</option>
                      <option value="geometry">geometry</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
          // automatically select the data type field based on form
          $("document").ready(function() {
            var selValue = "{{ request.GET.datatype }}";
            if (selValue) {
              $("#datatype").val(selValue).attr("selected", "selected")
            }
          });
        </script>


        <div class="column is-full field">
          <div class="field-label is-normal">
            <label class="label">GeoJSON geometry <button onclick="javascript:q.value=''" type="button">X</button></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="q" value="{{ request.GET.q }}" required>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="field">
            <div class="field-label is-normal">
              <label class="label">Predicate</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="predicate" id="predicate">
                      <option selected value> -- select an option -- </option>
                      <option value="within">within</option>
                      <option value="contains">contains</option>
                      <option value="crosses">crosses</option>
                      <option value="disjoint">disjoint</option>
                      <option value="equals">equals</option>
                      <option value="intersects">intersects</option>
                      <option value="overlaps">overlaps</option>
                      <option value="touches">touches</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
          // automatically select the predicate field based on form
          $("document").ready(function() {
            var selValue = "{{ request.GET.predicate }}";
            if (selValue) {
              $("#predicate").val(selValue).attr("selected", "selected")
            }
          });
        </script>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Distance</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="distance" value="{{ request.GET.distance }}">
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Number of Bands</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="num_bands_min" value="{{ request.GET.num_bands_min }}">
                <input class="input" type="text" name="num_bands_max" value="{{ request.GET.num_bands_max }}">
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Resolution</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="resolution_min" value="{{ request.GET.resolution_min }}">
                <input class="input" type="text" name="resolution_max" value="{{ request.GET.resolution_max }}">
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Instrumentation</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="instrumentation" value="{{ request.GET.instrumentation }}">
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Created</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="datetime-local" name="created_before" value="{{ request.GET.created_before }}">
                <button onclick="javascript:created_before.value=''" type="button">X</button>
                <input type="datetime-local" name="created_after" value="{{ request.GET.created_after }}">
                <button onclick="javascript:created_after.value=''" type="button">X</button>
              </div>
            </div>
          </div>
        </div>


        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Modified</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="datetime-local" name="modified_before" value="{{ request.GET.modified_before }}">
                <button onclick="javascript:modified_before.value=''" type="button">X</button>
                <input type="datetime-local" name="modified_after" value="{{ request.GET.modified_after }}">
                <button onclick="javascript:modified_after.value=''" type="button">X</button>
              </div>
            </div>
          </div>
        </div>


        <div class="column is-full field mb-0">
          <div class="field-label is-normal">
            <label class="label">Acquired</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="datetime-local" name="acquired_before" value="{{ request.GET.acquired_before }}">
                <button onclick="javascript:acquired_before.value=''" type="button">X</button>
                <input type="datetime-local" name="acquired_after" value="{{ request.GET.acquired_after }}">
                <button onclick="javascript:acquired_after.value=''" type="button">X</button>
              </div>
            </div>
          </div>
        </div>



        <div id="submitButton" class="column is-full" style="left: 0; bottom: 0; width: 100%;">
          <div class="field">
            <div class="control">
              <input class="button is-accent" type="submit" value="Filter">
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<script>
  var geojsonField = document.getElementsByName("q")[0]

  function populateBounds() {
    var bounds = map.bounds()
    var boxjson = {
      "type": "Polygon",
      "coordinates": [
        [
          [bounds.left, bounds.bottom],
          [bounds.left, bounds.top],
          [bounds.right, bounds.top],
          [bounds.right, bounds.bottom],
          [bounds.left, bounds.bottom]
        ]
      ]
    };
    geojsonField.value = JSON.stringify(boxjson);
  }

  function populatePoint() {
    var center = map.center()
    var pointjson = {
      "type": "Point",
      "coordinates": [center.x, center.y]
    }
    geojsonField.value = JSON.stringify(pointjson)
  }


  function enableDrawOnMap() {
    // Disable button until completed
    var button = document.getElementsByName("drawOnMapButton")[0]
    button.disabled = true
    // Clear any previous annotations
    annotationLayer.removeAllAnnotations()
    // Start new annotation
    annotationLayer.mode('polygon');
    annotationLayer.geoOn(geo.event.annotation.state, (e) => {
      if (e.annotation.state() === "done") {
        geojsonField.value = JSON.stringify(e.annotation.geojson().geometry)
        // Re-enable button
        button.disabled = false
      }
    });
  }

  var mapTool = document.getElementById("mapTool")
  $(function() {
    $('#mapTool').change(function() {
      $('.selection').hide();
      $('#' + $(this).val()).show();
      setCookie('mapToolType', $(this)[0].value)
    });
    mapTool.value = getCookie('mapToolType', 'stPoint')
    $('#mapTool').change()
  });
</script>

{% endblock %}
