{% block vtkjs_viewer %}

  <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>

  <div id="vtkContainer"></div>

  <script type="text/javascript">
    // console.log(vtk.Rendering.OpenGL.vtkRenderWindow.newInstance().getGLInformations())
    const vtkContainer = document.getElementById("vtkContainer")
    var fullScreenRenderer = vtk.Rendering.Misc.vtkFullScreenRenderWindow.newInstance({
      rootContainer: vtkContainer,
      containerStyle: { height: "calc(100vh - 140px)", width: "75%", position: "absolute"}
    });

    var renderWindow = fullScreenRenderer.getRenderWindow();
    var renderer = fullScreenRenderer.getRenderer();
  </script>

{% endblock %}
