{% extends "rgd/_base/spatial_detail.html" %}

{% block extra_meta_table_body %}
  <tr>
    <td>Description</td>
    <td>{{ object.description }}</td>
  </tr>
  <tr>
    <td>KLV Metadata</td>
    <td>{{ object.fmv_file.klv_data_link }}</td>
  </tr>
  <tr>
    <td>Original FMV Video</td>
    <td>{{ object.fmv_file.fmv_data_link }}</td>
  </tr>

{% endblock %}

{% block extra_meta %}

  <br/>

  <video crossorigin width="100%" height="240" autobuffer="autobuffer" autoplay="autoplay" loop="loop" id="fmv_video">
    <source src="{{ object.fmv_file.web_video_file.url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>

{% endblock %}

{% block detail %}
{% include 'rgd_3d/_include/cesiumjs_viewer.html' %}
<script>
  const extents = JSON.parse('{{ extents|escapejs }}');
  const frameRate = JSON.parse('{{ frame_rate|escapejs }}');
  const video = document.getElementById('fmv_video');

  if (extents.ground_frames !== undefined) {
    const polys = JSON.parse(extents.ground_frames);
    const frameNumbers = extents.frame_numbers;
    let prevHierarchy = null;

    // Sync FMV to Cesium viewer's clock
    new Cesium.VideoSynchronizer({ clock: viewer.clock, element: video });

    const polygonEntity = viewer.entities.add({
        name: 'Current video frame position',
        polygon: {
          hierarchy: new Cesium.CallbackProperty(
            (time, result) => {
              const frame = Math.round(video.currentTime * frameRate);
              const index = frameNumbers.indexOf(frame);
              if (index > -1) {
                const coords = polys.coordinates[index][0]

                const newHierarchy = new Cesium.PolygonHierarchy([
                  Cesium.Cartesian3.fromDegrees(coords[0][0], coords[0][1]),
                  Cesium.Cartesian3.fromDegrees(coords[1][0], coords[1][1]),
                  Cesium.Cartesian3.fromDegrees(coords[2][0], coords[2][1]),
                  Cesium.Cartesian3.fromDegrees(coords[3][0], coords[3][1]),
                ]);

                prevHierarchy = newHierarchy;

                return newHierarchy;
              }
              // If the no positional data exists for the current video frame,
              // use the previous position. If we don't do this, the function
              // will return `undefined`, which causes Cesium to render nothing
              // for this frame, causing a flickering effect.
              else if (prevHierarchy !== null) {
                return prevHierarchy;
              }
            },
            false
          ),
          material: video,
        }
    });
  }
</script>
{% endblock %}
