---
version: 2.1
jobs:
  test:
    docker:
      - image: circleci/python:3.8
      - image: circleci/postgres:12-postgis-ram
        environment:
          POSTGRES_DB: django
          POSTGRES_PASSWORD: postgres
      - image: girder/minio-nonroot:latest
    steps:
      - checkout
      - run:
          name: Install tox
          command: sudo pip install tox
      - run:
          name: Run tests
          command: tox
          environment:
            DJANGO_DATABASE_URL: postgres://postgres:postgres@localhost:5432/django
            DJANGO_MINIO_STORAGE_ENDPOINT: localhost:9000
            DJANGO_MINIO_STORAGE_ACCESS_KEY: minioUserAccessKey
            DJANGO_MINIO_STORAGE_SECRET_KEY: minioUserSecretKey
      - run:
          name: Upload Coverage
          command: codecov
workflows:
  version: 2
  ci:
    jobs:
      - test
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test
