---
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8
      # - image: circleci/postgres:11.4-alpine-ram

    working_directory: ~/ResonantGeoData

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            sudo pip install tox

      - run:
          name: run tests
          command: |
            tox
workflows:
  version: 2
  ci:
    jobs:
      - build
#   nightly:
#     triggers:
#       - schedule:
#           cron: "0 0 * * *"
#           filters:
#             branches:
#               only:
#                 - master
#     jobs:
#       - build
