@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

html,
body {
  color: #292F36;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f5f5;
}

/* Links & Headings
** ================================ */

a {
  color: #427AA1;
  position: relative;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

a:hover {
  color: #1F5673;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Helpers
** ================================ */

.text-with-icon {
  align-items: center;
  display: flex;
}

.text-with-icon.icon-left i {
  margin-right: 5px;
}

.text-with-icon.icon-right i {
  margin-left: 5px;
}

/* Button styles
** ================================ */

.button-group {
  padding: 20px 0;
}

.button {
  background: #00A9A5;
  border: none;
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-bottom: 6px;
  text-transform: uppercase;
  transition: all .15s ease-in-out;
}

.button:hover {
  background: #5CC8C5;
  color: #fff;
}

.button:focus {
  color: #fff;
}

.button.btn-blue {
  background: #427AA1;
}

.button.btn-blue:hover {
  background: #1F5673;
}

.button.btn-nobg {
  background: none;
  color: #427AA1;
}

.button.btn-nobg:hover {
  background: #eaf2f7;
}

.button.is-small {
  font-weight: 500;
}

.button.is-disabled {
  background: #d8dadc;
  color: #58636b;
  cursor: not-allowed;
}

.button:after,
.button:hover:after,
.button.btn-blue:after,
.button.btn-blue:hover:after,
.button.btn-nobg:after,
.button.btn-nobg:hover:after {
  display: none;
}

.help-container {
  top: 250px;
  height: 0;
  position: fixed;
  right: 0;
  width: 107px;
}

.help-button {
  border: 1px solid #dabd4c !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  transform: rotate(-90deg);
  width: 170px;
}

/* Override some Bulma stuff */

.button.is-text {
  text-transform: none;
  text-decoration: none;
}

.button.is-small {
  padding-bottom: 5px;
}

.button.is-medium {
  padding-bottom: 9px;
}

.button.is-large {
  padding-bottom: 10px;
}

/* Tooltips
** ================================ */

.has-tooltip {
  display: inline-block;
  position: relative;
}

.has-tooltip .tooltip {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  color: #fff !important;
  display: none;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 10px 6px;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}

.has-tooltip:hover .tooltip {
  display: block;
}

.has-tooltip .tooltip.is-top {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.has-tooltip .tooltip.is-top:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.75);
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
}

.has-tooltip .tooltip.is-bottom {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.has-tooltip .tooltip.is-bottom:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.75);
  bottom: 100%;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.has-tooltip .tooltip.is-left {
  top: 50%;
  right: 110%;
  transform: translateY(-50%);
}

.has-tooltip .tooltip.is-left:after {
  content: '';
  border-top: 5px solid transparent;
  border-left: 5px solid rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent;
  height: 0;
  left: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

.has-tooltip .tooltip.is-right {
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
}

.has-tooltip .tooltip.is-right:after {
  content: '';
  border-top: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent;
  height: 0;
  right: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
}

/* Notifications
** ================================ */

#temporary-transition-banner {
  background-color: #00A9A5;
  border-radius: 0;
  color: #fff;
  padding: 40px 0 60px;
}

#temporary-transition-banner .banner-title,
#temporary-transition-banner .notice-title {
  color: #fff;
}

#temporary-transition-banner .notification-list {
  margin-top: 5px;
}

#temporary-transition-banner .notice-content {

}

.container.notification-wrapper {
  margin-top: -15px;
  padding-bottom: 40px;
}

.notification.is-success {
  background: #4fc17e;
}

.notification.is-danger {
  background: #f54b61;
}

.notification span {
  display: block;
  padding-top: 15px;
}

.notification a:hover:after {
  display: none;
}

/* Site structure
** ================================ */

.container {
  background: none;
  margin: 0 auto;
  max-width: 1335px;
  padding: 0 20px;
}

.main-header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

.main-header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:0 20px;
}

.main-header .container > * {
  margin: 0;
  padding: 0;
}

.main-header .logo h1 {
  margin: 10px 0;
}

.main-header .logo a:hover:after {
  display: none;
}

.main-header .logo img {
  height: auto;
  width: 224px;
}

/* Navbar */

.main-header .navbar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .navbar li {
  margin: 0;
}

.main-header .navbar li.nav-item a {
  display: block;
  padding: 18px 24px;
}

.main-header .navbar li.nav-item a:after {
  background: #00A9A5;
  bottom: 0;
  height: 3px;
}

.main-header .navbar li.login,
.main-header .navbar li.signup,
.main-header .navbar li.admin,
.main-header .navbar li.home,
.main-header .navbar li.logout {
  padding-left: 10px;
}

.main-header .navbar li.logout {
  display: flex;
}

.main-content {
  padding:45px 0;
}

.section.container {
  margin-bottom: 40px;
  padding: 0 20px;
}

.section-header {
  align-items: center;
  background: #58636b;
  border-radius: 3px 3px 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.section-header h1 {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  flex: 6;
  font-size: 24px;
  margin: 0;
}

.section-header h1 a {
  color: #fff;
}

.section-header h1 a:hover {
  color: #b5c1ca;
}

.section-header h1 i {
  font-size: 28px;
  margin: 3px 4px 0 0;
}

.section.container .section-content {
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  padding: 40px;
}

/* Front page specific */

.tasks-list .task {
  height: 175px;
  padding: 10px;
  position: relative;
}

.tasks-list .task a {
  background: #00A9A5;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 100%;
  padding: 25px;
  width: 100%;
}

.tasks-list .task a > span {
  display: block;
  width: 100%;
}


.tasks-list .task.inactive a {
  background: #d8dadc;
  color: #58636b;
}

.tasks-list .task.inactive a:hover {
  background: #bbbfc3;
}

.tasks-list .task.inactive a:hover .task-name {
  border-color: #999fa2;
}

.tasks-list .task .badge {
  background: #427AA1;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  padding: 10px 5px 15px;
  position: absolute;
  right: 20px;
  top: 8px;
  transition: all .15s ease-in-out;
  z-index: 2;
}

.tasks-list .task .badge i {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.tasks-list .task .badge:after {
  content: "";
  border-color: transparent transparent #00A9A5 transparent;
  border-style: solid;
  border-width: 0 13px 6px 13px;
  bottom: 0;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all .15s ease-in-out;
  width: 0;
}

.tasks-list .task a:hover ~ .badge {
  padding-bottom: 20px;
}

.tasks-list .task.inactive .badge:after {
  border-color: transparent transparent #d8dadc transparent;
}

.tasks-list .task.inactive a:hover ~ .badge:after {
  border-color: transparent transparent #bbbfc3 transparent;
}

.tasks-list .task a:hover ~ .badge:after {
  content: "";
  border-color: transparent transparent #5CC8C5 transparent;
}

.tasks-list .task a .task-name {
  border-bottom: 1px solid #1dcac5;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  transition: border .15s ease-in-out;
  white-space: nowrap;
}

.tasks-list .task a .task-name:after {
  clear: both;
  content: '';
  display: table;
}

.tasks-list .task a .task-desc {
  font-size: 14px;
  padding-top: 6px;
}

.tasks-list .task.inactive a .task-name {
  border-bottom: 1px solid #999fa2;
}

.tasks-list .task a .material-icons {
  float: left;
  margin-right: 5px;
}

.tasks-list .task a:hover {
  background: #5CC8C5;
}

.tasks-list .task a:hover .task-name {
  border-bottom-color: #9bdedc;
}

/* Invites */

.invites-wrapper {
  background: #ece8e8;
  padding: 30px;
}

.user-notification {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: left;
  padding: 11px 18px 14px;
}

.user-notification form {
  margin: 2px 0 0 auto;
}

.user-notification .notification-text {
  line-height: 1.2em;
  padding: 0 20px;
}

.user-notification .notification-text span {
  display: block;
  font-weight: 600;
}

#temporary-transition-banner {
  margin-bottom: 0;
}

li.choice-list-item {
  display: block;
}

.rate-limited {
	cursor: not-allowed;
	color: #ccc;
}

.rate-limited:hover .has-tooltip .tooltip {
  display: block;
}

.new-team > .help {
	align-items: center;
	border: 1px solid #ff3860;
	border-radius: 3px;
	display: flex;
	font-size: 16px;
	line-height: 1.25em;
	margin-bottom: 10px;
	padding: 10px 20px;
}

.new-team > .help > ul {
  list-style-type: none;
}
