.dashboard-items {
  justify-content: space-around;
}

.dashboard-items .section {
  padding: 1.5rem;
}

.dashboard-items .column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dashboard-items .section-header {
  background: #fff;
}

.dashboard-items .section-header h1 {
  color: #58636b;
  font-size: 32px;
}

.dashboard-items .section-content {
  background: #fff;
  border-radius: 0 0 3px 3px;
  color: #58636b;
  padding: 20px;
  position: relative;
}

.dashboard-items .section-content ul {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  list-style: none;
  margin: 0;
}

.dashboard-items .section-content ul li {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin: 0;
  padding: 6px 15px 8px;
}

.dashboard-items .section-content ul li span.dash-label {
  font-size: 13px;
  opacity: 0.6;
  text-transform: uppercase;
}

.dashboard-items .section-content ul li span.dash-label > p {
  font-size: 11px;
  text-transform: lowercase;
  font-weight: normal;
}

.dashboard-items .section-content ul li span.dash-value {
  font-size: 24px;
}

.dashboard-items .section-footer {
  background: #f3efef;
  border-bottom: 1px solid #e8e5e5;
  border-left: 1px solid #e8e5e5;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid #e8e5e5;
  box-shadow: inset 0 15px 15px -15px rgba(0 ,0 ,0, 0.5);
  height: 100%;
  margin-top: -8px;
  padding: 0 0 8px;
}

.dashboard-items .section-footer h4 {
  color: #color: #427AA1;;
  font-size: 14px;
  padding: 20px 20px 0;
}

.dashboard-items .section-footer form {
  margin: 0;
}

.dashboard-items .section-footer ul {
  border-top: 1px solid #e8e5e5;
  margin: 0;
  list-style: none;
}

.dashboard-items .section-footer ul li {
  align-items: center;
  background: #f9f5f5;
  border-bottom: 1px solid #e8e5e5;
  display: flex;
  line-height: 1.2em;
  margin: 0;
  position: relative;
  z-index: 1;
}

.dashboard-items .section-footer ul li a {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px 13px;
  width: 100%;
}

.dashboard-items .section-footer ul li a i {
  margin-right: 18px;
  opacity: 0.6;
}

.dashboard-items .section-footer ul li:hover {
  background: #fff;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.25);
  z-index: 2; /* move to front so shadow displays */
}

.dashboard-items .section-footer ul li > span {
  color: #427AA1;
}

.dashboard-items .section-footer ul li .action-name {
  color: #58636b;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: 0;
  overflow: hidden;
  transition: height .2s ease-in-out;
}

.dashboard-items .section-footer ul li a:hover .action-name {
  height: 18px;
}

.dashboard-items .section-footer ul li a.review-approach {
  background: #427AA1;
  border-radius: 4px;
  color: #fff;
  height: 32px;
  justify-content: center;
  margin-right: 10px;
  padding:8px;
  width: 32px;
}

.dashboard-items .section-footer ul li a.review-approach i {
  font-size: 18px;
  margin: 0;
  opacity: 1;
}

/* Styles for global card */

.dashboard-items .global .bg {
  background: #00a9a5; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00a9a5 0%, #427aa1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00a9a5 0%,#427aa1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a9a5 0%,#427aa1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 3px;
  bottom: 1.5rem; /* must match padding of .dashboard-items .section */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a5', endColorstr='#427aa1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  left: 1.5rem; /* must match padding of .dashboard-items .section */
  position: absolute;
  right: 1.5rem; /* must match padding of .dashboard-items .section */
  top: 1.5rem; /* must match padding of .dashboard-items .section */
  z-index: 1;
}

.dashboard-items .global .section-header h1 {
  color: #fff;
}

.dashboard-items .global .section-header,
.dashboard-items .global .section-content {
  background: none;
  color: #fff;
  position: relative;
  z-index: 2;
}

.dashboard-items .global .section-content {
  height: 100%;
}

.dashboard-items .global .section-content ul {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.dashboard-items .global .section-content ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
