/* Rotate Transitions
** ================================ */

.is-trans-rotate {
  transition: transform .35s ease-in-out;
}

/* 45 degrees */
.is-trans-rotate.is-45:hover {
  transform: rotate(45deg);
}

.is-trans-parent:hover .is-trans-rotate.is-45 {
  transform: rotate(45deg);
}

/* -45 degrees */
.is-trans-rotate.is-neg45:hover {
  transform: rotate(-45deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg45 {
  transform: rotate(-45deg);
}

/* 90 degrees */
.is-trans-rotate.is-90:hover {
  transform: rotate(90deg);
}

.is-trans-parent:hover .is-trans-rotate.is-90 {
  transform: rotate(90deg);
}

/* -90 degrees */
.is-trans-rotate.is-neg90:hover {
  transform: rotate(-90deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg90 {
  transform: rotate(-90deg);
}

/* 135 degrees */
.is-trans-rotate.is-135:hover {
  transform: rotate(135deg);
}

.is-trans-parent:hover .is-trans-rotate.is-135 {
  transform: rotate(135deg);
}

/* -135 degrees */
.is-trans-rotate.is-neg135:hover {
  transform: rotate(-135deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg135 {
  transform: rotate(-135deg);
}

/* 180 degrees */
.is-trans-rotate.is-180:hover {
  transform: rotate(180deg);
}

.is-trans-parent:hover .is-trans-rotate.is-180 {
  transform: rotate(180deg);
}

/* -180 degrees */
.is-trans-rotate.is-neg180:hover {
  transform: rotate(-180deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg180 {
  transform: rotate(-180deg);
}

/* 225 degrees */
.is-trans-rotate.is-225:hover {
  transform: rotate(225deg);
}

.is-trans-parent:hover .is-trans-rotate.is-225 {
  transform: rotate(225deg);
}

/* -225 degrees */
.is-trans-rotate.is-neg225:hover {
  transform: rotate(-225deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg225 {
  transform: rotate(-225deg);
}

/* 270 degrees */
.is-trans-rotate.is-270:hover {
  transform: rotate(270deg);
}

.is-trans-parent:hover .is-trans-rotate.is-270 {
  transform: rotate(270deg);
}

/* -270 degrees */
.is-trans-rotate.is-neg270:hover {
  transform: rotate(-270deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg270 {
  transform: rotate(-270deg);
}

/* 315 degrees */
.is-trans-rotate.is-315:hover {
  transform: rotate(315deg);
}

.is-trans-parent:hover .is-trans-rotate.is-315 {
  transform: rotate(315deg);
}

/* -315 degrees */
.is-trans-rotate.is-neg315:hover {
  transform: rotate(-315deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg315 {
  transform: rotate(-315deg);
}

/* 360 degrees */
.is-trans-rotate.is-360:hover {
  transform: rotate(360deg);
}

.is-trans-parent:hover .is-trans-rotate.is-360 {
  transform: rotate(360deg);
}

/* -360 degrees */
.is-trans-rotate.is-neg360:hover {
  transform: rotate(-360deg);
}

.is-trans-parent:hover .is-trans-rotate.is-neg360 {
  transform: rotate(-360deg);
}
