<!-- This page has a dashboard for the curent user's algorithms. It lets them manage (create, reupload, delete, etc the algorithms they have) -->
{% extends "base.html" %}
{% block content %}

  <h1 class="article-title">
    <span>My Algorithms</span>
    <div class="btn-group btn-group-sm" role="group" aria-label="Algorithm Tools">
      <a type="button" class="btn btn-success" href="{% url 'new-algorithm' %}">New Algorithm</a>
    </div>
  </h1>
  <hr/>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Task</th>
        <th>Active</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for algorithm in algorithms %}
        <tr>
          <td><a href="{% url 'algorithm-detail' algorithm.creator algorithm.pk %}">{{ algorithm.name }}</a></td>
          <td><a href="{% url 'task-detail' algorithm.task.pk algorithm.task.name %}">{{ algorithm.task }}</a></td>
          <td>{{ algorithm.active|yesno:"✔,✘" }}</td>
          <td>{{ algorithm.created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock content %}
