{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.created }}</small>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p class="article-content">Status: {{ algorithm.active|yesno:"✔,✘" }}</p>
      <p class="article-content">Uploaded for task: {{ object.task }}</p>
      <p class="article-content">Description: {{ object.description }}</p>
      <a href="{{ object.data.url }}" download>Download Docker Image</a>
    </div>
  </article>
{% endblock content %}
