<!-- This is a page where users can manage all of their jobs -->
<!-- This will be a dashboard/table where they can see past jobs' status, re-run old jobs, and create new jobs -->
<!-- When clicking on a job, it will take you to `detail-job` -->
{% extends "base.html" %}
{% block content %}
  <h1>My Jobs</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Created</th>
        <th>Algorithm</th>
        <th>Task</th>
        <th>Dataset</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.created }}</td>
          <td>{{ job.algorithm }}</td>
          <td>{{ job.algorithm.task }}</td>
          <td>{{ job.dataset }}</td>
          <!-- TODO: how to use the better formtatted version? e.g. "Succeeded" vs "success" -->
          <td>{{ job.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
