/* Login/Logout Styles
** ================================ */

.section {
  &.container {
    &.login,
    &.signup,
    &.pwreset {
      max-width: 470px;
      .notification {
        margin-bottom: 30px;
        margin-top: -10px;
      }
      form {
        .login,
        .signup,
        .password_reset {
          margin: 0;
        }
      }
    }
    .login {
      .is-grouped {
        justify-content: space-between;
      }
    }
  }
}

form {
  &.login,
  &.signup,
  &.password_reset {
    .fields {
      border-bottom: 1px solid #e3e6e8;
      margin-bottom: 20px;
      padding: 10px 0 20px;
    }
  }

  .fields {
    .column {
      padding: 5px 12px;
    }

    hr {
      .column {
        margin: 0 0 12px;
        padding: 0;
      }
    }
  }

  &.login {
    .fields {
      .rememberme {
        input[type='checkbox'] {
          margin-right: 5px;
        }
      }
    }
  }
}

/* Form Validation Styles
** ================================ */

form {
  & > .help {
    align-items: center;
    border: 1px solid #ff3860;
    border-radius: 3px;
    display: flex;
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: 10px;
    padding: 10px 20px;

    i {
      margin-right: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }

  .field {
    .help {
      margin: 0;
      padding: 0 10px 10px;
    }
  }
}
