{% extends "base.html" %}
{% block content %}


  <h1 class="article-title">
    <span>FMV Entries</span>
  </h1>
  <hr/>

  {% include 'geodata/_includes/search.html' %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name (ID)</th>
        <th>Video File Size</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td><a href="{% url 'fmv-entry-detail' entry.pk %}">{{ entry.name }} ({{ entry.id }})</a></td>
          <td>{{ entry.fmv_file.file.size|filesizeformat }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
