{% extends "geodata/_base/detail.html" %}
{% block detail %}

  <p class="article-content">Instrumentation: {{ object.instrumentation }}</p>
  <p class="article-content">Number of bands: {{ object.number_of_bands }}</p>

  <h3><span>Raster Metadata</span></h3>
  <p class="article-content">Resolution: {{ object.resolution }}</p>
  <p class="article-content">Height, Width: {{ object.height }}, {{ object.width }}</p>
  <p class="article-content">Origin: {{ object.origin }}</p>
  <p class="article-content">Extent: {{ object.extent }}</p>
  <p class="article-content">Transform: {{ object.transform }}</p>

  <p class="article-content">PROJ4 String: {{ object.crs }}</p>
  <p class="article-content">Additional Metadata: {{ object.metadata }}</p>
  <p class="article-content">Meta: {{ object.metadata }}</p>

  {% include 'geodata/_includes/empty_viewer.html' %}

  <script>
    let extents = JSON.parse('{{ extents|escapejs }}');

    let img = new Image();
    img.crossOrigin = 'anonymous'
    img.src = extents['img_url'];

    var quad = layer.createFeature('quad')
      .data([
        {
          ll: {x: extents.extent.xmin, y: extents.extent.ymin },
          ur: {x: extents.extent.xmax, y: extents.extent.ymax },
          image: img,
        },
      ])
      .style({
        // use a function for determining if the line should be closed based
        // on where it is in our list of data.
        color: '#6586c9',
        opacity: 0.75,
      })
      .draw();

    // Add collected polygons to map
    let reader = geo.createFileReader('geojsonReader', {
      'layer': layer
    });

    reader.read(extents.collect, (features) => {
      features[0].style({
        strokeColor: '#FF0000',
        fill: false,
      })
      .draw();
    });

    // Position the map to show data extents. If none present, the position
    //   should have been set by the search parameters
    if (extents.extent != undefined) {
      map.bounds({
        left: extents.extent.xmin,
        right: extents.extent.xmax,
        top: extents.extent.ymax,
        bottom: extents.extent.ymin
      });
    }
    // One final zoom out for polishing
    map.zoom(map.zoom() - 0.25);
  </script>

{% endblock %}
