{% extends "geodata/_base/search_view.html" %}
{% block title %}
  Rasters
{% endblock title %}

{% block list_view %}

  <div style="overflow-x:auto;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name (ID)</th>
          <th>Number of Bands</th>
          <th>Resolution</th>
        </tr>
      </thead>
      <tbody>
        {% for meta in raster_metas %}
          <tr>
            <td><a href="{% url 'raster-entry-detail' meta.parent_raster.pk %}">{{ meta.parent_raster.name }} ({{ meta.parent_raster.id }})</a></td>
            <td>{{ meta.parent_raster.count }}</td>
            <td>{{ meta.resolution }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock list_view %}
