{% extends "geodata/_base/detail.html" %}

{% block meta_table_body %}

  <tr>
    <td>Description</td>
    <td>{{ object.description }}</td>
  </tr>
  <tr>
    <td>Number of bands</td>
    <td>{{ object.count }}</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>{{ object.rastermetaentry.resolution }}</td>
  </tr>
  <tr>
    <td>Origin</td>
    <td>{{ object.rastermetaentry.origin }}</td>
  </tr>
  <tr>
    <td>Extent</td>
    <td>{{ object.rastermetaentry.extent }}</td>
  </tr>
  <tr>
    <td>Transform</td>
    <td>{{ object.rastermetaentry.transform }}</td>
  </tr>
  <tr>
    <td>PROJ4 String</td>
    <td>{{ object.rastermetaentry.crs }}</td>
  </tr>

{% endblock %}

{% block extra_meta %}

  <select id="band-selector" onchange="updateBandThumbnail()">
    {% for image in object.image_set.images.all %}
      <option value="{{ image.id }}">{{ image.name }}</option>
    {% endfor %}
  </select>

{% endblock %}

{% block detail %}

  {% include 'geodata/_includes/empty_viewer.html' %}

  <script>
    let extents = JSON.parse('{{ extents|escapejs }}');

    function createImage (src) {
      let img = new Image();
      img.crossOrigin = 'anonymous';
      img.src = src;
      return img
    }

    var outline = JSON.parse(extents['outline'])["coordinates"][0]
    var quad = layer.createFeature('quad')
      .data([
        {
          ul: {x: outline[0][0], y: outline[0][1]},
          ur: {x: outline[1][0], y: outline[1][1]},
          lr: {x: outline[2][0], y: outline[2][1]},
          ll: {x: outline[3][0], y: outline[3][1]},
        },
      ])
      .style({
        color: '#6586c9',
        opacity: 0.75,
      })
      .draw();

    function updateBandThumbnail () {
      selector = document.getElementById('band-selector')
      var image_id = Number(selector.value);
      var src = extents['thumbnails'][image_id];
      quad.data([
        {
          ul: {x: outline[0][0], y: outline[0][1]},
          ur: {x: outline[1][0], y: outline[1][1]},
          lr: {x: outline[2][0], y: outline[2][1]},
          ll: {x: outline[3][0], y: outline[3][1]},
          image: createImage(src),
        },
      ]).draw()
    }
    updateBandThumbnail()

    // Add collected polygons to map
    let reader = geo.createFileReader('geojsonReader', {
      'layer': layer
    });

    reader.read(extents.collect, (features) => {
      features[0].style({
        strokeColor: '#FF0000',
        fill: false,
      })
      .draw();
    });

    setBounds(extents.extent, true)
  </script>

{% endblock %}
