{% extends "geodata/_base/search_view.html" %}
{% block title %}
  Spatial Entries
{% endblock title %}

{% block list_view %}

  <div style="overflow-x:auto;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th><span class="text">ID</span></th>
          <th><span class="text">Name</span></th>
          <th><span class="text">Area</span></th>
          <th><span class="text">Data Type</span></th>
        </tr>
      </thead>
      <tbody>
        {% for entry in spatial_entries %}
          <tr>
            <td><a href="{% url 'spatial-entry-detail' entry.pk %}">{{ entry.spatial_id }}</a></td>
            <td>{{ entry.subentry.name }}</td>
            <td>{{ entry.footprint.area | floatformat:-2 }}</td>
            <td>{{ entry.subtype_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock list_view %}
