{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geojs/0.20.0/geo.min.js"></script>

  <h1 class="article-title">
    <span>Rasters</span>
  </h1>
  <hr/>

  <form method="GET">
    Longitude (deg): <input type="text" name="longitude" value="{{ request.GET.longitude }}">
    Latitude (deg): <input type="text" name="latitude" value="{{ request.GET.latitude }}">
    <br>
    Proximity (m): <input type="text" name="radius" value="{{ request.GET.radius }}">
    <input class="button" type="submit" value="Filter">
  </form>

  <div id="map" style="width:100%;height:300px"></div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name (ID)</th>
        <th>Size</th>
        <th>Number of Bands</th>
        <th>Resolution</th>
      </tr>
    </thead>
    <tbody>
      {% for raster in rasters %}
        <tr>
          <td><a href="{% url 'raster-entry-detail' raster.pk %}">{{ raster.name }} ({{ raster.id }})</a></td>
          <td>{{ raster.width }} x {{ raster.height }}</td>
          <td>{{ raster.image_bands }}</td>
          <td>{{ raster.resolution }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
  let extents = JSON.parse('{{ extents|escapejs }}');
  let map = geo.map({node: '#map'})
  map.createLayer('osm', {source: 'stamen-toner-lite'});
  let layer = map.createLayer('feature', {features: ['polygon']});
  let reader = geo.createFileReader('geojsonReader', {'layer': layer});
  // reader.read(extents.collect, (features) => {
  reader.read(extents.convex_hull, (features) => {
    let range = {}
    if (features[0].polygonCoordinates) {
      features[0].polygonCoordinates().forEach(p => {
        range.left = range.left === undefined || p.range.min.x < range.left ? p.range.min.x : range.left;
        range.right = range.right === undefined || p.range.max.x > range.right ? p.range.max.x : range.right;
        range.bottom = range.bottom === undefined || p.range.min.y < range.bottom ? p.range.min.y : range.bottom;
        range.top = range.top === undefined || p.range.max.y > range.top ? p.range.max.y : range.top;
      });
    }
    if (range.left !== undefined) {
      map.bounds(range);
      map.zoom(map.zoom() - 0.25);
    }
    map.draw();
  });
</script>

{% endblock content %}
