{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">Acquisition: {{ object.acquisition_date }}</small>
        <p/>
      <h2 class="article-title">
        <span>({{object.pk}})</span>
      </h2>
      <hr/>

      <h3><span>Geospatial Metadata</span></h3>
      <p class="article-content">Footprint: {{ object.footprint }}</p>
      <p class="article-content">Outline: {{ object.outline }}</p>

    </div>
  </article>
{% endblock content %}
