{% load static %}
<html>
  <title>SOCOM Challenge</title>
  <head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
  <body class="content">
    <header class="main-header">
      <div class="container">
        <!--
        <div class="logo">
          <h1><a href="{% url 'index' %}"><img src="{% static 'img/isic_logo.svg' %}" alt="ISIC Challenge"></a></h1>
        </div>
        -->
        <div class="navigation">
          <ul class="navbar">
            {% if user.is_authenticated %}
              <strong>{{ request.user.email }}</strong>
              {% if user.is_superuser %}
              <li class="admin">
                  <a href="{% url 'admin:index' %}" class="button is-small">Admin</a>
              </li>
              {% endif %}
              {% comment %}
              {% if user.is_staff %}
              <li class="admin">
                  <a href="{% url 'staff-dashboard' %}" class="button is-small">Dashboard</a>
              </li>
              {% endif %}
              {% endcomment %}
              <li class="logout">
                  <a href="{% url 'account_logout' %}" class="button btn-blue is-small">Logout</a>
              </li>
            {% else %}
              <li id="login-button" class="login"><a href="{% url 'account_login' %}" class="button btn-blue">Login</a></li>
              <li class="signup"><a href="{% url 'account_signup' %}" class="button">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    {% if not request.user.is_authenticated %}
        <div id="temporary-transition-banner" class="notification">
        <div class="container">
            <div class="notice-content">
            <!--
            <h1 class="banner-title">Welcome to the new submission platform for the ISIC Challenge!</h1>
            -->
            </div>
        </div>
        </div>
    {% endif %}

    
    {% comment %}
    {% load invites %}

    {% show_pending_invites request %}
    {% endcomment %}
    <div class="main-content">
      {% if messages %}
        <div class="container notification-wrapper">
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="notification is-success">
              {{ message }}
            </div>
          {% endif %}

          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="notification is-danger">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}

      {% block content %}{% endblock %}

    </div>

    <!--
    <div class="help-container">
      <a class="help-button button is-medium is-warning" href="https://forum.isic-archive.com" target="_blank">Report an Issue</a>
    </div>
    -->
  </body>
</html>

