/* All Submissions
** ================================ */

.submissions-wrapper {
  padding: 25px 10px 10px;
}

.submissions-list {}

.submissions-list .submission.submission-header > div {
  background: #00A9A5;
  color: #fff;
  font-weight: 600;
}

.submissions-list .submission.submission-header > div:first-of-type {
  border-top-left-radius: 3px;
}

.submissions-list .submission.submission-header > div:last-of-type {
  border-top-right-radius: 3px;
}

.submissions-list .submission.submission-header > div:nth-child(odd) {
  background: #009e9b;
}

.submissions-list .submission {
  border-bottom: 1px solid #e8e8e8;
}

.submissions-list .submission > div:nth-child(odd) {
  background: #f9f9f9;
}

/* Single Submission Details
** ================================ */

.team-details {
  align-items: center;
  background: #424b52;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 35px 40px;
}

.team-details .team-name {
  color: #fff;
  margin: 0;
}

.team-details .overall-score {
  color: #b5c1ca;
  line-height: 1.65em;
  text-align: right;
}

.team-details .overall-score .score {
  color: #fff;
  font-size: 42px;
}

.team-details .team-name,
.team-details .overall-score .score {
  align-items: center;
  display: flex;
}

.team-details .team-name i {
  font-size: 32px;
}

.team-details .overall-score i {
  color: #00A9A5;
  font-size: 32px;
  margin-top: 4px;
}

.team-details .team-name i,
.team-details .overall-score .score i {
  margin-right: 5px;
}

.data-download {
  align-items: center;
  background: #f4f7f9;
  border: 2px solid #eceeef;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 30px 24px;
}

.data-download .title {
  color: #889096;
  margin: 0;
}

.data-download .button {
  align-items: center;
  display: flex;
  padding-right: 15px;
}

.data-download .button i {
  margin-left: 15px;
}

/* Review Approaches
** ================================ */

.approach-reviews .column:first-of-type {
  padding-right: 30px;
}

.approach-reviews .column:last-of-type {
  padding-left: 30px;
}

.approach-list .approach {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin-bottom: 25px;
}

.approach-header,
.approach-body,
.approach-footer {
  padding: 10px 15px;
}

.approach-list .approach .approach-header {
  align-items: center;
  background: #f3f3f3;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.approach-header .approach-name {
  flex: 5;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}

.approach-name i {
  font-size: 20px;
}

.approach-header .approach-manuscript {
  flex: 1;
}

.approach-header .approach-id {
  flex: 1;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.approach-header .approach-id span {
  color: #666;
}

.approach-header .button {
  margin-left: 16px;
}

.approach-header .button:hover {
  background: #fff !important;
}

.approach-header .button i {
  font-size: 18px;
  margin-left: -2px;
}

.approach-body .approach-team {
  display: flex;
  font-size: 14px;
  line-height: 1.25em;
}

.approach-body .approach-team p {
  margin: 0;
}

.approach-body .approach-team p > span:first-of-type {
  color: #aeb3b9;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 8px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.approach-body .approach-team .team-name {
  flex: 2;
  padding-right: 10px;
}

.approach-body .approach-team .team-institution {
  flex: 7;
  padding: 0 10px;
}

.approach-body .approach-team .approach-external {
  width: 100px;
  padding: 0 10px;
}

.approach-body .approach-team .approach-score {
  justify-self: end;
  padding-left: 10px;
  width: 65px;
}

.approach-team .approach-score i {
  font-size: 20px;
}

.approach-footer {
  align-items: center;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.approach-footer .button {
  margin-right: 5px;
}

.approach-footer .accept-reject {
  align-items: center;
  display: flex;
  margin: 0;
  width: 100%;
}

.approach-footer form {
  margin: 0;
}

.approach-footer form .reason {
  margin-left: auto;
}

.approach-footer strong {
  color: inherit;
}

.approach-footer .button {
  font-weight: 600;
}

.accepted .approach-footer {
  background: #f3fff7;
  color: #22c65b !important;
}

.rejected .approach-footer {
  background: #f7e1e6;
  color: #ff2b56 !important;
}

.accepted .approach-footer .button,
.rejected .approach-footer .button {
  background: #292F36;
}
