{% extends "rgd/_base/spatial_detail.html" %}

{% block extra_meta_table_body %}

  <tr>
    <td>Parent Raster ID</td>
    <td>{{ object.parent_raster.id }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ object.parent_raster.description }}</td>
  </tr>
  <tr>
    <td>Number of bands</td>
    <td>{{ object.parent_raster.number_of_bands }}</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>{{ object.resolution }}</td>
  </tr>
  <tr>
    <td>Origin</td>
    <td>{{ object.origin }}</td>
  </tr>
  <tr>
    <td>Extent</td>
    <td>{{ object.extent }}</td>
  </tr>
  <tr>
    <td>Transform</td>
    <td>{{ object.transform }}</td>
  </tr>
  <tr>
    <td>PROJ4 String</td>
    <td>{{ object.crs }}</td>
  </tr>
  <tr>
    <td>Cloud Cover</td>
    <td>{{ object.cloud_cover }}</td>
  </tr>

{% endblock %}

{% block extra_meta %}
  <div id="toast">Loading image tiles...</div>
  <select id="image-selector" onchange="updateImage()">
    {% for image in object.parent_raster.image_set.all_images.all %}
      <option value="{{ image.id }}">{{ image.file.basename }}</option>
    {% endfor %}
    <option value="-1">-- none --</option>
  </select>

  <select id="band-selector" onchange="updateBandThumbnail()">
  </select>

  <div class="slidecontainer">
    <label for="rasterOpacityRange">Raster Layer Opacity: </label>
    <input type="range" min="1" max="100" value="100" class="slider" id="rasterOpacityRange" onChange="updateTilesOpacity(event, value)">
  </div>

  <div class="thumbnailContainer">
    <img src="" id="thumbnail"/>
  </div>

{% endblock %}

{% block detail %}

  {% include 'rgd/_include/empty_viewer.html' %}

  <script>
    let extents = JSON.parse('{{ extents|escapejs }}');

    var imageSelector = document.getElementById('image-selector')
    var bandSelector = document.getElementById('band-selector')

    {% comment %} Save available bands for each image into a JSON object keyed by the image id {% endcomment %}
    const bands = {
      {% for image in object.parent_raster.image_set.all_images.all %}
        "{{image.id}}": [
          {% for bmeta in image.bandmeta_set.all %}
            {
              "interpretation": "{{bmeta.interpretation}}",
              "band_number": "{{bmeta.band_number}}",
              "description": "{{bmeta.description}}",
            },
          {% endfor %}
        ],
    {% endfor %}
    };

    // Make sure regions outside the extent of the raster do not load null tiles
    //   this relieves strain on the tile server
    const dataset_bb = extents.extent;
    tileLayer.isValid = (index) => {
      const tileBounds = tileLayer.gcsTileBounds(index);
      return tileBounds.left <= dataset_bb.xmax &&
        tileBounds.right >= dataset_bb.xmin &&
        tileBounds.top >= dataset_bb.ymin &&
        tileBounds.bottom <= dataset_bb.ymax;
    }
    tileLayer.idleAfter = 'all';

    function updateBandThumbnail () {
      thumbnail = document.getElementById('thumbnail');
      toast = document.getElementById('toast');
      toast.className ="show"
      var imageSelector_value = Number(imageSelector.value)
      var bandSelector_value = Number(bandSelector.value)

      if (imageSelector_value >= 0) {
        var image_id = imageSelector_value.toString();
        var band = bandSelector_value.toString();
        if (Number.isNaN(band)) {
          band = 0
        }
        tileLayer.visible(true);
        tileLayer.url(`${host}/api/image_process/imagery/${image_id}/tiles/{z}/{x}/{y}.png?projection=EPSG:3857&band=${band}`)
        thumbnail.src = `${host}/api/image_process/imagery/${image_id}/thumbnail?band=${band}`
        thumbnail.hidden = false
      } else {
        tileLayer.visible(false);
        thumbnail.hidden = true
      }
      tileLayer.onIdle(()=>toast.className = toast.className.replace("show", ""))
      // TODO: clear tileLayer when `none` is selected
    }

    function updateBandOptions(image_id) {
      while (bandSelector.firstChild) {
        bandSelector.removeChild(bandSelector.firstChild);
      }
      var imageSelector_value = Number(imageSelector.value);
      var image_id = imageSelector_value.toString();

      var opt = document.createElement('option');
      opt.value = 0;
      opt.innerHTML = 'Default';
      bandSelector.appendChild(opt);

      if (bands[image_id]) {
        bands[image_id].forEach((band) => {
          var opt = document.createElement('option');
          opt.value = band.band_number;
          opt.innerHTML = `${band.band_number}: ${band.interpretation}`;
          bandSelector.appendChild(opt);
        });
      }
    }

    function updateImage() {
      updateBandOptions()
      updateBandThumbnail()
    }

    updateImage()

    function updateTilesOpacity(e, value) {
      value = Number(value) / 100.0;
      tileLayer.opacity(value);
    }

    // Add collected polygons to map
    let reader = geo.createFileReader('geojsonReader', {
      'layer': layer
    });

    var footprint = '{{ object.footprint.json|escapejs }}'
    reader.read(footprint, (features) => {
      features[0].style({
        strokeColor: '#FF0000',
        fill: false,
      })
      .draw();
    });

    setBounds(extents.extent, false)
    map.geoOn(geo.event.pan, function(event){
      toast = document.getElementById('toast');
      toast.className ="show"
      tileLayer.onIdle(()=>toast.className = toast.className.replace("show", ""))
    })

  </script>


  <!-- Section for extracting ROIs -->

  <style>
    .roiTool {
      background-color: #DCDCDC;
      padding: 2px;
      border: 2px solid #000;
      text-align: left;
      border-radius: 10px;
    }
  </style>

  <div id="roiTool" class="roiTool">
    <div class="column is-full field is-grouped">
      <div class="control">
        <input class="button is-secondary" type="button" value="Draw ROI" id="drawROIButton" onclick="enableDrawROI()">
      </div>
      <div class="control">
        <input class="button is-secondary" type="button" id="extractROIButton" onclick="downloadROI()" value="Download" disabled="true">
      </div>
      <div class="control">
        <input class="button is-secondary" type="button" value="Clear" id="clearROIButton" onclick="clearROI()" disabled="true">
      </div>
    </div>
  </div>

  <script>
    // Add ROI Tool to the GeoJS UI layer
    var basemapTool = ui.createWidget('dom', {position: {right: 20, top: 60}});
    basemapTool.canvas().appendChild(document.getElementById("roiTool"))
    var b1 = document.getElementById("drawROIButton")
    var b2 = document.getElementById("extractROIButton")
    var b3 = document.getElementById("clearROIButton")
    var roi;

    // Add callback to annotation layer
    annotationLayer.geoOn(geo.event.annotation.state, (e) => {
      if (e.annotation.state() === "edit") {
        // Prevent downloading while editing as last complete state is used and
        //   could yield seemingly wrong results
        b2.disabled = true
      } else if (e.annotation.state() === "done") {
        var coords = e.annotation.coordinates();
        // Re-enable button
        b1.disabled = false
        b2.disabled = false
        // Get the bounding box
        roi = {
          left: coords[0].x,
          right: coords[1].x,
          bottom: coords[1].y,
          top: coords[2].y
        };
        var xx = coords.forEach((p) => {
          if (p.x < roi.left) {
            roi.left = p.x
          }
          if (p.x > roi.right) {
            roi.right = p.x
          }
          if (p.y < roi.bottom) {
            roi.bottom = p.y
          }
          if (p.y > roi.top) {
            roi.top = p.y
          }
        });
      }
    });

    function enableDrawROI() {
      // Disable button until completed
      b1.disabled = true
      b2.disabled = true
      // Make sure clear button is enabled
      b3.disabled = false
      // Clear any previous annotations
      annotationLayer.removeAllAnnotations()
      // Start new annotation
      annotationLayer.mode('rectangle');
    }

    function downloadROI() {
      var image_id = Number(imageSelector.value)
      if (image_id < 0) {
        // No valid image selected
        console.log('No valid image selected.')
        return
      }
      // Check if ROI is outside of the bounds of raster as this will
      //   yield invalid results
      if (roi.left < dataset_bb.xmin |
        roi.right > dataset_bb.xmax |
        roi.top > dataset_bb.ymax |
        roi.bottom < dataset_bb.ymin) {
          console.log('ROI exceeds the boundary of the source raster.')
          // TODO: show toast with error message
          return
      }
      // Build a URL for extracting that ROI
      var url = `${host}/api/image_process/imagery/${image_id}/tiles/region/world/${roi.left}/${roi.right}/${roi.bottom}/${roi.top}/region.tif?units=EPSG:4326`;
      download(url, 'region.tif')
    }

    function clearROI() {
      annotationLayer.removeAllAnnotations()
      b1.disabled = false
      b2.disabled = true
      b3.disabled = true
    }


  </script>

{% endblock %}
