{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
  {{ block.super }}

  <div class="module current-app">
    <table>
      <caption>
        <a href="../flower/" class="section" title="Celery Flower">Worker Monitor</a>
      </caption>
      <tr>
        <th scope="row"><a href="../flower/" aria-current="page">Flower</a></th>
        <td></td>
      </tr>
    </table>
  </div>

    <div class="module current-app">
    <table>
      <caption>
        <a href="../swagger/" class="section" title="Rest-API">API</a>
      </caption>
      <tr>
        <th scope="row"><a href="../swagger/" aria-current="page">Swagger</a></th>
        <td></td>
      </tr>
    </table>
  </div>
  </div>
{% endblock %}
