{% block content %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geojs/0.20.0/geo.min.js"></script>

  <div id="map" style="width:100%;height:600px"></div>

  <script>
    let extents = JSON.parse('{{ extents|escapejs }}');
    let search_params = JSON.parse('{{ search_params|escapejs }}');
    console.log(search_params)
    let map = geo.map({
      node: '#map'
    })
    map.createLayer('osm', {
      source: 'osm'
    }); // stamen-terrain
    let layer = map.createLayer('feature', {
      features: ['polygon', 'marker']
    });
    // Add collected data to map
    let reader = geo.createFileReader('geojsonReader', {
      'layer': layer
    });
    reader.read(extents.collect); 
    map.bounds({
      left: extents.extent.xmin,
      right: extents.extent.xmax,
      top: extents.extent.ymax,
      bottom: extents.extent.ymin
    });
    map.zoom(map.zoom() - 0.25);
    // Add marker to map to show search location
    if (search_params.longitude != undefined && search_params.latitude != undefined) {
      var data = [{
        lon: search_params.longitude,
        lat: search_params.latitude
      }, ]
      var feature = layer.createFeature('marker')
        .data(data)
        .position(function(marker) {
          return {
            x: marker.lon,
            y: marker.lat
          };
        })
        .draw();
    }
  </script>
{% endblock %}
